USE [master]
GO
/****** Object:  Database [SAZON_LOCAL]    Script Date: 18/03/2026 13:49:37 ******/
CREATE DATABASE [SAZON_LOCAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAZON_LOCAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.DEVELOPER\MSSQL\DATA\SAZON_LOCAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAZON_LOCAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.DEVELOPER\MSSQL\DATA\SAZON_LOCAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAZON_LOCAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAZON_LOCAL]
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Carrito]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Carrito] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Categorias]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Categorias] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_DetallesPedido]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_DetallesPedido] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Direcciones]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Direcciones] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Fincas]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Fincas] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Mensajes]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Mensajes] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Pagos]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Pagos] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Pedidos]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Pedidos] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Productos]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Productos] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Roles]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Roles] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Subcategorias]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Subcategorias] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Sugerencias]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Sugerencias] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_UnidadMedida]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_UnidadMedida] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Usuarios]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Usuarios] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SAZON_LOCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Validaciones]    Script Date: 18/03/2026 13:49:37 ******/
CREATE SEQUENCE [dbo].[Seq_Validaciones] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[CARRITO_ITEMS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO_ITEMS](
	[ID_CARRITO_ITEM] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARRITO_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID_CATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[ESTA_ACTIVA] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDOS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDOS](
	[ID_DETALLE_PEDIDO] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO_UNITARIO] [decimal](10, 2) NOT NULL,
	[LISTO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCIONES]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCIONES](
	[ID_DIRECCION] [int] NOT NULL,
	[NOMBRE_ETIQUETA] [nvarchar](50) NULL,
	[CALLE_NUMERO] [nvarchar](255) NOT NULL,
	[PISO] [nvarchar](50) NULL,
	[PUERTA] [nvarchar](50) NULL,
	[CODIGO_POSTAL] [nvarchar](10) NOT NULL,
	[MUNICIPIO] [nvarchar](100) NOT NULL,
	[PROVINCIA] [nvarchar](100) NOT NULL,
	[LATITUD] [decimal](10, 8) NOT NULL,
	[LONGITUD] [decimal](10, 8) NOT NULL,
	[ES_PRINCIPAL] [bit] NOT NULL,
	[NOTAS_ADICIONALES] [nvarchar](255) NULL,
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINCAS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINCAS](
	[ID_FINCA] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DIRECCION] [nvarchar](255) NOT NULL,
	[MUNICIPIO] [nvarchar](100) NOT NULL,
	[PROVINCIA] [nvarchar](100) NOT NULL,
	[LATITUD] [decimal](10, 8) NOT NULL,
	[LONGITUD] [decimal](10, 8) NOT NULL,
	[ESTA_ACTIVA] [bit] NOT NULL,
	[ESTA_VALIDADA] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FINCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEYS_USUARIOS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYS_USUARIOS](
	[ID_USUARIO] [int] NOT NULL,
	[SALT] [varbinary](max) NOT NULL,
	[PASSWORD] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJES]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJES](
	[ID_MENSAJE] [int] NOT NULL,
	[ID_USUARIO] [int] NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[TIPO_CONSULTA] [nvarchar](50) NOT NULL,
	[ASUNTO] [nvarchar](150) NOT NULL,
	[CONTENIDO] [nvarchar](max) NOT NULL,
	[FECHA_ENVIO] [datetime] NULL,
	[ES_LEIDO] [bit] NOT NULL,
	[ES_RESPONDIDO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENSAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[ID_PAGO] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[PASARELA] [nvarchar](50) NOT NULL,
	[METODO_PAGO] [nvarchar](50) NOT NULL,
	[ULTIMOS_DIGITOS_TARJETA] [nvarchar](4) NULL,
	[ESTADO_PAGO] [nvarchar](50) NOT NULL,
	[TRANSACTION_ID] [nvarchar](255) NULL,
	[FECHA_PAGO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_PEDIDO] [int] NOT NULL,
	[FECHA_PEDIDO] [datetime] NOT NULL,
	[SUBTOTAL] [decimal](10, 2) NOT NULL,
	[TASA_GESTION] [decimal](10, 2) NOT NULL,
	[GASTOS_ENVIO] [decimal](10, 2) NOT NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_DIRECCION_ENTREGA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[IMAGEN] [nvarchar](255) NULL,
	[PRECIO_UNIDAD] [decimal](10, 2) NOT NULL,
	[ID_UNIDAD_MEDIDA] [int] NOT NULL,
	[STOCK] [int] NOT NULL,
	[ESTA_ACTIVO] [bit] NOT NULL,
	[ID_FINCA] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ID_SUBCATEGORIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID_ROL] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBCATEGORIAS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBCATEGORIAS](
	[ID_SUBCATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[IMAGEN] [nvarchar](100) NOT NULL,
	[ESTA_ACTIVA] [bit] NOT NULL,
	[ID_CATEGORIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUBCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIDAD_MEDIDAS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIDAD_MEDIDAS](
	[ID_UNIDAD_MEDIDA] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NOT NULL,
	[ESTA_ACTIVA] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UNIDAD_MEDIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDOS] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[CONTRASENA] [nvarchar](255) NULL,
	[IMAGEN] [nvarchar](255) NULL,
	[TELEFONO] [nvarchar](20) NULL,
	[ESTA_ACTIVO] [bit] NOT NULL,
	[ID_ROL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALIDACIONES]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALIDACIONES](
	[ID_VALIDACION] [int] NOT NULL,
	[ESTADO] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VALIDACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CARRITO_ITEMS] ([ID_CARRITO_ITEM], [CANTIDAD], [ID_USUARIO], [ID_PRODUCTO]) VALUES (1, 1, 2, 1)
INSERT [dbo].[CARRITO_ITEMS] ([ID_CARRITO_ITEM], [CANTIDAD], [ID_USUARIO], [ID_PRODUCTO]) VALUES (2, 2, 2, 6)
INSERT [dbo].[CARRITO_ITEMS] ([ID_CARRITO_ITEM], [CANTIDAD], [ID_USUARIO], [ID_PRODUCTO]) VALUES (3, 1, 2, 14)
GO
INSERT [dbo].[CATEGORIAS] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [ESTA_ACTIVA]) VALUES (1, N'Frutas y Cítricos', N'Fruta de temporada invernal y cítricos frescos.', 1)
INSERT [dbo].[CATEGORIAS] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [ESTA_ACTIVA]) VALUES (2, N'Verduras y Hortalizas', N'Hortalizas de hoja, raíces y bulbos.', 1)
INSERT [dbo].[CATEGORIAS] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [ESTA_ACTIVA]) VALUES (3, N'Legumbres y Tubérculos', N'Patatas, ajos, cebollas y legumbres secas.', 1)
GO
INSERT [dbo].[DETALLE_PEDIDOS] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD], [PRECIO_UNITARIO], [LISTO]) VALUES (1, 1, 35, 2, CAST(3.10 AS Decimal(10, 2)), 1)
INSERT [dbo].[DETALLE_PEDIDOS] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD], [PRECIO_UNITARIO], [LISTO]) VALUES (2, 1, 9, 3, CAST(3.10 AS Decimal(10, 2)), 1)
INSERT [dbo].[DETALLE_PEDIDOS] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD], [PRECIO_UNITARIO], [LISTO]) VALUES (3, 1, 98, 1, CAST(33.50 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[DIRECCIONES] ([ID_DIRECCION], [NOMBRE_ETIQUETA], [CALLE_NUMERO], [PISO], [PUERTA], [CODIGO_POSTAL], [MUNICIPIO], [PROVINCIA], [LATITUD], [LONGITUD], [ES_PRINCIPAL], [NOTAS_ADICIONALES], [ID_USUARIO]) VALUES (1, N'Casa', N'Calle Real, 10', NULL, NULL, N'28740', N'Rascafría', N'Madrid', CAST(40.90140000 AS Decimal(10, 8)), CAST(-3.87550000 AS Decimal(10, 8)), 1, NULL, 3)
INSERT [dbo].[DIRECCIONES] ([ID_DIRECCION], [NOMBRE_ETIQUETA], [CALLE_NUMERO], [PISO], [PUERTA], [CODIGO_POSTAL], [MUNICIPIO], [PROVINCIA], [LATITUD], [LONGITUD], [ES_PRINCIPAL], [NOTAS_ADICIONALES], [ID_USUARIO]) VALUES (2, N'Casa', N'Plaza Mayor, 1', N'2º', N'Izquierda', N'28300', N'Aranjuez', N'Madrid', CAST(40.03330000 AS Decimal(10, 8)), CAST(-3.60000000 AS Decimal(10, 8)), 1, N'Llamar al telefonillo del portal B', 4)
INSERT [dbo].[DIRECCIONES] ([ID_DIRECCION], [NOMBRE_ETIQUETA], [CALLE_NUMERO], [PISO], [PUERTA], [CODIGO_POSTAL], [MUNICIPIO], [PROVINCIA], [LATITUD], [LONGITUD], [ES_PRINCIPAL], [NOTAS_ADICIONALES], [ID_USUARIO]) VALUES (3, N'Casa', N'Calle de la Luna 4', N'Bajo', N'A', N'28801', N'Alcalá de Henares', N'Madrid', CAST(40.48190000 AS Decimal(10, 8)), CAST(-3.36360000 AS Decimal(10, 8)), 1, NULL, 5)
GO
INSERT [dbo].[FINCAS] ([ID_FINCA], [NOMBRE], [DIRECCION], [MUNICIPIO], [PROVINCIA], [LATITUD], [LONGITUD], [ESTA_ACTIVA], [ESTA_VALIDADA], [ID_USUARIO]) VALUES (1, N'Huerta del Tajo', N'Camino de la Vega, Parcela 12', N'Aranjuez', N'Madrid', CAST(40.04500000 AS Decimal(10, 8)), CAST(-3.58200000 AS Decimal(10, 8)), 1, 2, 17)
INSERT [dbo].[FINCAS] ([ID_FINCA], [NOMBRE], [DIRECCION], [MUNICIPIO], [PROVINCIA], [LATITUD], [LONGITUD], [ESTA_ACTIVA], [ESTA_VALIDADA], [ID_USUARIO]) VALUES (2, N'El Olivar de Paco', N'Polígono 4, Recinto 5', N'Titulcia', N'Madrid', CAST(40.13800000 AS Decimal(10, 8)), CAST(-3.55100000 AS Decimal(10, 8)), 1, 2, 17)
INSERT [dbo].[FINCAS] ([ID_FINCA], [NOMBRE], [DIRECCION], [MUNICIPIO], [PROVINCIA], [LATITUD], [LONGITUD], [ESTA_ACTIVA], [ESTA_VALIDADA], [ID_USUARIO]) VALUES (3, N'Finca El Jarama', N'Vía Pecuaria km 2.5', N'Algete', N'Madrid', CAST(40.61200000 AS Decimal(10, 8)), CAST(-3.49800000 AS Decimal(10, 8)), 1, 2, 18)
GO
INSERT [dbo].[MENSAJES] ([ID_MENSAJE], [ID_USUARIO], [NOMBRE], [EMAIL], [TIPO_CONSULTA], [ASUNTO], [CONTENIDO], [FECHA_ENVIO], [ES_LEIDO], [ES_RESPONDIDO]) VALUES (1, 2, N'Marta Quirós', N'm.quirosmp@gmail.com', N'SUGERENCIA', N'MIEL PURA', N'¿Podríais traer miel de la Sierra? Me cuesta encontrar una que sea 100% natural.', CAST(N'2026-03-18T13:42:19.910' AS DateTime), 0, 0)
INSERT [dbo].[MENSAJES] ([ID_MENSAJE], [ID_USUARIO], [NOMBRE], [EMAIL], [TIPO_CONSULTA], [ASUNTO], [CONTENIDO], [FECHA_ENVIO], [ES_LEIDO], [ES_RESPONDIDO]) VALUES (2, 4, N'Pablo Ruiz', N'pablo.ruiz@email.com', N'DUDA', N'HORARIO DE RECOGIDA', N'¿Es posible recoger el pedido directamente en vuestra oficina para ahorrar el envío?', CAST(N'2026-03-18T13:42:19.910' AS DateTime), 1, 1)
INSERT [dbo].[MENSAJES] ([ID_MENSAJE], [ID_USUARIO], [NOMBRE], [EMAIL], [TIPO_CONSULTA], [ASUNTO], [CONTENIDO], [FECHA_ENVIO], [ES_LEIDO], [ES_RESPONDIDO]) VALUES (3, 5, N'Cristina Díaz', N'cristina.diaz@email.com', N'SUGERENCIA', N'CESTAS DE REGALO', N'Para Navidad sería un puntazo que hicierais cestas de madera con productos variados.', CAST(N'2026-03-18T13:42:19.910' AS DateTime), 0, 0)
GO
INSERT [dbo].[PAGOS] ([ID_PAGO], [ID_PEDIDO], [PASARELA], [METODO_PAGO], [ULTIMOS_DIGITOS_TARJETA], [ESTADO_PAGO], [TRANSACTION_ID], [FECHA_PAGO]) VALUES (1, 1, N'STRIPE', N'TARJETA', N'4521', N'COMPLETADO', N'cs_test_a1b2c3', CAST(N'2026-01-20T14:30:00.000' AS DateTime))
INSERT [dbo].[PAGOS] ([ID_PAGO], [ID_PEDIDO], [PASARELA], [METODO_PAGO], [ULTIMOS_DIGITOS_TARJETA], [ESTADO_PAGO], [TRANSACTION_ID], [FECHA_PAGO]) VALUES (2, 2, N'PAYPAL', N'TARJETA', N'8832', N'COMPLETADO', N'PAY-772155', CAST(N'2026-01-22T09:45:00.000' AS DateTime))
INSERT [dbo].[PAGOS] ([ID_PAGO], [ID_PEDIDO], [PASARELA], [METODO_PAGO], [ULTIMOS_DIGITOS_TARJETA], [ESTADO_PAGO], [TRANSACTION_ID], [FECHA_PAGO]) VALUES (3, 3, N'STRIPE', N'TARJETA', N'1004', N'COMPLETADO', N'cs_test_m5n6o7', CAST(N'2026-01-25T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[PEDIDOS] ([ID_PEDIDO], [FECHA_PEDIDO], [SUBTOTAL], [TASA_GESTION], [GASTOS_ENVIO], [TOTAL], [ESTADO], [ID_USUARIO], [ID_DIRECCION_ENTREGA]) VALUES (1, CAST(N'2026-01-20T14:30:00.000' AS DateTime), CAST(49.00 AS Decimal(10, 2)), CAST(2.45 AS Decimal(10, 2)), CAST(3.99 AS Decimal(10, 2)), CAST(55.44 AS Decimal(10, 2)), N'ENTREGADO', 2, 11)
INSERT [dbo].[PEDIDOS] ([ID_PEDIDO], [FECHA_PEDIDO], [SUBTOTAL], [TASA_GESTION], [GASTOS_ENVIO], [TOTAL], [ESTADO], [ID_USUARIO], [ID_DIRECCION_ENTREGA]) VALUES (2, CAST(N'2026-01-22T09:45:00.000' AS DateTime), CAST(49.40 AS Decimal(10, 2)), CAST(2.47 AS Decimal(10, 2)), CAST(3.99 AS Decimal(10, 2)), CAST(55.86 AS Decimal(10, 2)), N'ENTREGADO', 3, 1)
INSERT [dbo].[PEDIDOS] ([ID_PEDIDO], [FECHA_PEDIDO], [SUBTOTAL], [TASA_GESTION], [GASTOS_ENVIO], [TOTAL], [ESTADO], [ID_USUARIO], [ID_DIRECCION_ENTREGA]) VALUES (3, CAST(N'2026-01-25T12:00:00.000' AS DateTime), CAST(44.40 AS Decimal(10, 2)), CAST(2.22 AS Decimal(10, 2)), CAST(3.99 AS Decimal(10, 2)), CAST(50.61 AS Decimal(10, 2)), N'ENTREGADO', 4, 2)
GO
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [IMAGEN], [PRECIO_UNIDAD], [ID_UNIDAD_MEDIDA], [STOCK], [ESTA_ACTIVO], [ID_FINCA], [ID_CATEGORIA], [ID_SUBCATEGORIA]) VALUES (1, N'Tomate Pera', N'Sabor tradicional', N'tomate.jpg', CAST(2.90 AS Decimal(10, 2)), 1, 25, 1, 1, 2, 5)
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [IMAGEN], [PRECIO_UNIDAD], [ID_UNIDAD_MEDIDA], [STOCK], [ESTA_ACTIVO], [ID_FINCA], [ID_CATEGORIA], [ID_SUBCATEGORIA]) VALUES (2, N'Lechuga Romana', N'Fresca y crujiente', N'lechuga.jpg', CAST(1.10 AS Decimal(10, 2)), 2, 80, 1, 1, 2, 6)
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [IMAGEN], [PRECIO_UNIDAD], [ID_UNIDAD_MEDIDA], [STOCK], [ESTA_ACTIVO], [ID_FINCA], [ID_CATEGORIA], [ID_SUBCATEGORIA]) VALUES (3, N'Espárrago Triguero', N'Manojo silvestre', N'esparrago-verde.jpg', CAST(3.50 AS Decimal(10, 2)), 3, 50, 1, 1, 2, 12)
GO
INSERT [dbo].[ROLES] ([ID_ROL], [NOMBRE]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[ROLES] ([ID_ROL], [NOMBRE]) VALUES (2, N'AGRICULTOR')
INSERT [dbo].[ROLES] ([ID_ROL], [NOMBRE]) VALUES (3, N'CLIENTE')
GO
INSERT [dbo].[SUBCATEGORIAS] ([ID_SUBCATEGORIA], [NOMBRE], [DESCRIPCION], [IMAGEN], [ESTA_ACTIVA], [ID_CATEGORIA]) VALUES (1, N'Cítricos', N'Naranjas, limones, mandarinas, limas y variedades similares de temporada.', N'citricos.png', 1, 1)
INSERT [dbo].[SUBCATEGORIAS] ([ID_SUBCATEGORIA], [NOMBRE], [DESCRIPCION], [IMAGEN], [ESTA_ACTIVA], [ID_CATEGORIA]) VALUES (2, N'Fruta de Hueso', N'Melocotones, nectarinas, paraguayos, albaricoques, ciruelas y cerezas.', N'fruta-hueso.png', 1, 1)
INSERT [dbo].[SUBCATEGORIAS] ([ID_SUBCATEGORIA], [NOMBRE], [DESCRIPCION], [IMAGEN], [ESTA_ACTIVA], [ID_CATEGORIA]) VALUES (3, N'Fruta de Pepita', N'Todas las variedades de manzanas (Golden, Fuji, Reineta) y peras (Conferencia, Ercolina).', N'fruta-con-pepita.png', 1, 1)
GO
INSERT [dbo].[UNIDAD_MEDIDAS] ([ID_UNIDAD_MEDIDA], [NOMBRE], [ESTA_ACTIVA]) VALUES (1, N'KG', 1)
INSERT [dbo].[UNIDAD_MEDIDAS] ([ID_UNIDAD_MEDIDA], [NOMBRE], [ESTA_ACTIVA]) VALUES (2, N'Unidad', 1)
INSERT [dbo].[UNIDAD_MEDIDAS] ([ID_UNIDAD_MEDIDA], [NOMBRE], [ESTA_ACTIVA]) VALUES (3, N'Manojo', 1)
GO
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [NOMBRE], [APELLIDOS], [EMAIL], [CONTRASENA], [IMAGEN], [TELEFONO], [ESTA_ACTIVO], [ID_ROL]) VALUES (1, N'Admin', N'Sistema', N'sazonlocal.sl@gmail.com', N'12345', N'usuario-generico.png', N'600000000', 1, 1)
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [NOMBRE], [APELLIDOS], [EMAIL], [CONTRASENA], [IMAGEN], [TELEFONO], [ESTA_ACTIVO], [ID_ROL]) VALUES (2, N'Marta', N'Quirós', N'm.quirosmp@gmail.com', N'12345', N'usuario-generico.png', N'639482715', 1, 3)
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [NOMBRE], [APELLIDOS], [EMAIL], [CONTRASENA], [IMAGEN], [TELEFONO], [ESTA_ACTIVO], [ID_ROL]) VALUES (3, N'Laura', N'Torres', N'laura.torres@email.com', N'12345', N'usuario-generico.png', N'612554390', 1, 3)
GO
INSERT [dbo].[VALIDACIONES] ([ID_VALIDACION], [ESTADO]) VALUES (1, N'PENDIENTE')
INSERT [dbo].[VALIDACIONES] ([ID_VALIDACION], [ESTADO]) VALUES (2, N'APROBADA')
INSERT [dbo].[VALIDACIONES] ([ID_VALIDACION], [ESTADO]) VALUES (3, N'RECHAZADA/BLOQUEADA')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__161CF724AFBD1C9C]    Script Date: 18/03/2026 13:49:37 ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] ADD  DEFAULT ((1)) FOR [CANTIDAD]
GO
ALTER TABLE [dbo].[CATEGORIAS] ADD  DEFAULT ((0)) FOR [ESTA_ACTIVA]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] ADD  DEFAULT ((0)) FOR [LISTO]
GO
ALTER TABLE [dbo].[DIRECCIONES] ADD  DEFAULT ((0)) FOR [ES_PRINCIPAL]
GO
ALTER TABLE [dbo].[FINCAS] ADD  DEFAULT ((0)) FOR [ESTA_ACTIVA]
GO
ALTER TABLE [dbo].[MENSAJES] ADD  DEFAULT (getdate()) FOR [FECHA_ENVIO]
GO
ALTER TABLE [dbo].[MENSAJES] ADD  DEFAULT ((0)) FOR [ES_LEIDO]
GO
ALTER TABLE [dbo].[MENSAJES] ADD  DEFAULT ((0)) FOR [ES_RESPONDIDO]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT (N'STRIPE') FOR [PASARELA]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT (N'TARJETA') FOR [METODO_PAGO]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT (getdate()) FOR [FECHA_PAGO]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT (getdate()) FOR [FECHA_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT ((0.9)) FOR [TASA_GESTION]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT ((0)) FOR [GASTOS_ENVIO]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT (N'PENDIENTE') FOR [ESTADO]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((0)) FOR [STOCK]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((1)) FOR [ESTA_ACTIVO]
GO
ALTER TABLE [dbo].[SUBCATEGORIAS] ADD  DEFAULT ((0)) FOR [ESTA_ACTIVA]
GO
ALTER TABLE [dbo].[UNIDAD_MEDIDAS] ADD  DEFAULT ((0)) FOR [ESTA_ACTIVA]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((0)) FOR [ESTA_ACTIVO]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] CHECK CONSTRAINT [FK_CARRITO_PRODUCTOS]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] CHECK CONSTRAINT [FK_CARRITO_USUARIOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDOS] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] CHECK CONSTRAINT [FK_DETALLE_PEDIDOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] CHECK CONSTRAINT [FK_DETALLE_PRODUCTOS]
GO
ALTER TABLE [dbo].[DIRECCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCIONES_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DIRECCIONES] CHECK CONSTRAINT [FK_DIRECCIONES_USUARIOS]
GO
ALTER TABLE [dbo].[FINCAS]  WITH CHECK ADD  CONSTRAINT [FK_FINCAS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FINCAS] CHECK CONSTRAINT [FK_FINCAS_USUARIOS]
GO
ALTER TABLE [dbo].[FINCAS]  WITH CHECK ADD  CONSTRAINT [FK_FINCAS_VALIDACION] FOREIGN KEY([ESTA_VALIDADA])
REFERENCES [dbo].[VALIDACIONES] ([ID_VALIDACION])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FINCAS] CHECK CONSTRAINT [FK_FINCAS_VALIDACION]
GO
ALTER TABLE [dbo].[KEYS_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_KEYS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KEYS_USUARIOS] CHECK CONSTRAINT [FK_KEYS_USUARIOS]
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD  CONSTRAINT [FK_SUGERENCIAS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[MENSAJES] CHECK CONSTRAINT [FK_SUGERENCIAS_USUARIOS]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_PEDIDOS] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_PEDIDOS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_DIRECCIONES] FOREIGN KEY([ID_DIRECCION_ENTREGA])
REFERENCES [dbo].[DIRECCIONES] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_DIRECCIONES]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_USUARIOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIAS] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_FINCAS] FOREIGN KEY([ID_FINCA])
REFERENCES [dbo].[FINCAS] ([ID_FINCA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_FINCAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_SUBCATEGORIAS] FOREIGN KEY([ID_SUBCATEGORIA])
REFERENCES [dbo].[SUBCATEGORIAS] ([ID_SUBCATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_SUBCATEGORIAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_UNIDAD_MEDIDA] FOREIGN KEY([ID_UNIDAD_MEDIDA])
REFERENCES [dbo].[UNIDAD_MEDIDAS] ([ID_UNIDAD_MEDIDA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_UNIDAD_MEDIDA]
GO
ALTER TABLE [dbo].[SUBCATEGORIAS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROLES] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROLES] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROLES]
GO
/****** Object:  StoredProcedure [dbo].[SP_NEXT_ID]    Script Date: 18/03/2026 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURES

CREATE PROCEDURE [dbo].[SP_NEXT_ID] (@tabla NVARCHAR(50), @siguienteId INT OUTPUT)
AS
    BEGIN
        DECLARE @columna NVARCHAR(60);
        DECLARE @query NVARCHAR(MAX);
        DECLARE @longitud INT = LEN(@tabla);

        IF UPPER(@tabla) = 'MENSAJES'
            SET @columna = 'ID_MENSAJE';
        ELSE IF UPPER(RIGHT(@tabla, 2)) = 'ES'
            SET @columna = 'ID_' + UPPER(LEFT(@tabla, @longitud - 2));
        ELSE
            SET @columna = 'ID_' + UPPER(LEFT(@tabla, @longitud - 1));

        SET @query = N'SELECT @idOut = ISNULL(MAX(' + QUOTENAME(@columna) + '), 0) + 1 FROM ' + QUOTENAME(@tabla);

        EXEC sp_executesql @query, N'@idOut INT OUTPUT', @idOut = @siguienteId OUTPUT;
    END
GO
USE [master]
GO
